/* ----- Typography ----- */

body {
    font-family: var(--ff);
}

.card__report {
    font-size: 1.5rem;
    font-weight: var(--fw-light);
}

h1 {
    font-size: 2.4rem;
    font-weight: var(--fw-light);
}

.card__item {
    font-size: 1.8rem;
    font-weight: var(--fw-mid);
}

.card__title {
    font-size: 1.8rem;
    font-weight: var(--fw-bold);
}

.card__time {
    font-size: 3rem;
    font-weight: var(--fw-light);
}

.card__history {
    font-size: 1.5rem;
    font-weight: var(--fw-mid);
}


/* ----- Global Styles ----- */

body {
    background-color: var(--c-very-dark-blue);
    padding: 4rem 2rem;
}

img {
    max-width: 100%;
}

h2,
p {
    margin: 0;
}

li,
button {
    border: none;
    outline: 0;
}

li:focus,
button:focus {
    outline: 2px dashed hsl(0, 0%, 100%);
    outline-offset: 4px;
}

.container {
    display: grid;
    grid-gap: 3rem;
}

.card--profile-wrapper {
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, .5);
}

.card--profile-wrapper,
.card__stats {
    background-color: var(--c-dark-blue);
}

.card--radius {
    border-radius: 1.5rem;
}

#profile {
    grid-area: "profile";
}

.card__profile {
    background-color: var(--c-blue);
    padding: 3rem 3.2rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .15);
}

.card__image {
    width: 75px;
    height: 75px;
    outline: 4px solid #fff;
    border-radius: 100px;
    cursor: pointer;
}

.card__report {
    margin: 10px 0px 0px 0px;
    color: var(--c-pale-blue);
}

.card__name {
    margin: 5px 0px 0px 0px;
    color: #fff;
    cursor: pointer;
    transition: text-shadow .3s ease-in-out;
}

.card__name:hover {
    text-shadow: 1px 1px 2px #fff;
}

.card__list {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
    pointer-events: none;
}

.card__item {
    color: var(--c-desaturated-blue);
    cursor: pointer;
    transition: color .5s cubic-bezier(0.5, 1, 0.89, 1);
    pointer-events: auto;
}

.card__item:hover {
    color: #fff;
}

#work {
    background-color: var(--c-work);
    grid-area: "work";
    background-image: url("../images/icon-work.svg");
}

#play {
    background-color: var(--c-play);
    grid-area: "play";
    background-image: url("../images/icon-play.svg");
}

#study {
    background-color: var(--c-study);
    grid-area: "study";
    background-image: url("../images/icon-study.svg");
}

#exercise {
    background-color: var(--c-exercise);
    grid-area: "exercise";
    background-image: url("../images/icon-exercise.svg");
}

#social {
    background-color: var(--c-social);
    grid-area: "social";
    background-image: url("../images/icon-social.svg");
}

#self {
    background-color: var(--c-self-care);
    grid-area: "self";
    background-image: url("../images/icon-self-care.svg");
}

.card--wrapper {
    padding-top: 3.5rem;
    background-repeat: no-repeat;
    background-size: 6.5rem;
    background-position: 95% -10%;
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, .5);
    animation: bgIconScaleDown .9s cubic-bezier(0, 0.55, 0.45, 1) forwards;
    pointer-events: none;
    display: flex;
}

.card--wrapper:hover {
    animation: bgIconScaleUp .9s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.card__stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2rem;
    cursor: pointer;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .2);
    pointer-events: auto;
    position: relative;
    overflow: hidden;
}

.card__stats:before {
    content: "";
    position: absolute;
    top: var(--top);
    left: var(--left);
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: hsla(234, 44%, 50%, 0.596);
    transition: all 0.6s cubic-bezier(0.5, 1, 0.89, 1);

}

.card__stats:hover:before {
    width: 1000px;
    height: 1000px;
}

.card__title,
.card__options,
.card--data {
    z-index: 2;
}

.card__options {
    background: transparent;
    cursor: pointer;
}

.card--col {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__options {
    width: 2.1rem;
    padding: 5px 0;
}

.card__options span {
    width: 5px;
    height: 5px;
    border-radius: 100px;
    cursor: pointer;
    background-color: var(--c-pale-blue);
}

.card__options:hover span {
    background-color: #fff;
}

.card__options:hover span:nth-of-type(1) {
    animation: upDown .5s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.card__options:hover span:nth-of-type(2) {
    animation: upDown .4s ease-in forwards;
}

.card__options:hover span:nth-of-type(3) {
    animation: upDown .3s ease-out forwards;
}

.card__title,
.card__time {
    color: #fff;
}

.card__history {
    color: var(--c-pale-blue);
}


/* ----- Animations ----- */

@keyframes bgIconScaleUp {
    from {
        background-size: 6.5rem;
    }

    to {
        background-size: 10rem;
    }
}

@keyframes bgIconScaleDown {
    from {
        background-size: 10rem;
    }

    to {
        background-size: 6.5rem;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* ----- Media Queries ----- */


/* Screen widths 425px to 768px */

@media (min-width: 425px) {

    .container {
        margin: 0 auto;
        max-width: 385px;
    }

    .card__user {
        width: 68%;
    }

}

/* Screen widths 768px to 1150px*/

@media (min-width: 768px) {

    .container {
        max-width: 700px;
        grid-template-columns: repeat(2, 1fr);
    }


    #profile {
        grid-row: 1 / span 2;
    }

    .card__user {
        width: 64%;
    }

    .card__list {
        flex-direction: column;
        gap: 4rem;
    }

}

/* Screen widths 1150px and above */

@media (min-width: 1150px) {

    .container {
        max-width: 110rem;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        padding: 8.5rem 0;
    }

    .card__profile {
        flex-direction: column;
        padding: 3rem 9rem 9rem 3rem;
        gap: 3rem;
    }

    .card__name {
        font-size: 4rem;
    }

    .card__list {
        gap: 2rem;
    }

    .card--wrapper {
        padding-top: 4rem;
        background-position: 92% -3px;
    }

    .card__stats {
        padding: 4rem 2.5rem;
    }

    .card__stats:hover:before {
        width: 700px;
        height: 700px;
    }

    .card__title {
        font-size: 2rem;
    }

    .card__time {
        font-size: 5rem;
    }

    .card--data {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

}


/* If user prefers reduced motion */

@media (prefers-reduced-motion) {

    .card--wrapper,
    .card--wrapper:hover {
        animation: none;
    }

    .card__stats:before {
        display: none;
    }

    .card__stats {
        transition: all .4s ease-in-out;
    }

    .card__stats:hover {
        background-color: hsla(234, 44%, 50%);
    }
}


/* Dynamically remove and add with JS */

.active {
    color: #fff;
    text-shadow: 0px 0px 3px #fff;
    transition: text-shadow .2s cubic-bezier(0.5, 1, 0.89, 1);
}