:root {
    /* ----- Fonts ----- */
    font-size: 62.5%;
    --ff: "Rubik", "sans-serif";
    --fw-bold: 500;
    --fw-mid: 400;
    --fw-light: 300;

    /* ----- Colors ----- */
    --c-very-dark-blue: hsl(226, 43%, 10%);
    --c-dark-blue: hsl(235, 46%, 20%);
    --c-desaturated-blue: hsl(235, 45%, 61%);
    --c-pale-blue: hsl(236, 100%, 87%);
    --c-blue: hsl(246, 80%, 60%);
    --c-work: hsl(15, 100%, 70%);
    --c-play: hsl(195, 74%, 62%);
    --c-study: hsl(348, 100%, 68%);
    --c-exercise: hsl(145, 58%, 55%);
    --c-social: hsl(264, 64%, 52%);
    --c-self-care: hsl(43, 84%, 65%);
}